.header {
  height: 6vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.header h2 {
  color: white;
  padding-left: 1rem;
}

.links {
  padding-right: 1rem;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.primary {
  color: white;
}
@media (max-width: 660px) {
  .navTitle {
    float: none;
    padding: none;
  }
}
