.auth-container {
  width: 100%;
  height: 100vh;
}

/* LOGIN AND SIGNUP FORMS */
.signin-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button {
  text-decoration: none;
}

.address-div,
.submit-div {
  display: flex;
}

.error {
  color: red;
}
